name: GitHub Actions Demo
on: [push]

jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - run: uname -a
      - run: df -h
      - run: curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
      - run: az --version
